<li><%= link_to "Inicio", "" %></li>
<li><%= link_to "Quienes Somos", "/path1"  %></li>
<li><%= link_to "Nuestro Equipo", "/path2"  %></li>
<li><%= link_to "Regístrate", "/path2"  %></li>
<li><%= link_to "Sign In", "/path2"  %></li>
<li><%= link_to "Contáctanos", "/path3"  %></li>